<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">  
  <title>Document</title>
 
</head>
<body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="../public/img/logo.svg" class="logo">

        <h2 class="copyHeader">

          <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>

      </div> 

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>

      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#"></a>Ofertas</li>
          <li><a href="#"></a>Tiendas</li>
          <li><a href="#"></a>Vender</li>
          <li><a href="#"></a>Ayuda</li>
        </ul>

        <ul class="right-navbar">
          <li><a href="#"></a>Creá tu cuenta</li><i class="fa-solid fa-id-card"></i>
          <li><a href="#"></a>Ingresá</li><i class="fa-solid fa-right-to-bracket"></i>
          <li><a href="#"></a>Mis compras</li><i class="fa-solid fa-basket-shopping-simple"></i>
        </ul>

      </nav>
    
    </header>

    <main>

      <img src="../public/img/img-home-banner.jpg" class="imagen">

      <h2 class="titulo">Basado en tu última visita</h2>

      <div class="producto">
        <img src="../public/img/img-cafetera-moulinex.jpg" class="imagen">
        <ul>
          <i class="fa-solid fa-truck"></i>
          <li class="precio">$6.760</li>
          <li class="descuento">40% Off</li>  
          <li class="descripcion">Cafetera Moulinex</li>
      </ul>
      </div>

      <div class="producto">
        <img src="../public/img/img-macbook-pro-2019.jpg" class="imagen"> 
        <ul>
          <i class="fa-solid fa-truck"></i>
          <li class="precio">230.000</li>
          <li class="descuento">20% Off</li>
          <li class="descripcion">MacBook Pro 2019</li>
      </ul>
      </div>

      <div class="producto">
        <img src="../public/img/img-samsung-galaxy-s10.jpg" class="imagen">
        <ul>
          <i class="fa-solid fa-truck"></i>
          <li class="precio">$70.500</li>
          <li class="descuento">10% Off</li>
          <li class="descripcion">Samsung Galaxy S10</li>
        </ul>
      </div>

      <div class="producto">
        <img src="../public/img/img-tv-samsung-smart.jpg" class="imagen">
        <ul>
          <i class="fa-solid fa-truck"></i>
          <li class="precio">$23.200</li>
          <li class="descuento">5% Off</li>
          <li class="descripcion">SmartTv Samsung 43"</li>
        </ul>
      </div>


      <h2 class="titulo">Ofertas</h2>

      <div class="producto">
        <img src="../public/img/img-cafetera-moulinex.jpg" class="imagen">
        <ul>
          <i class="fa-solid fa-truck"></i>
          <li class="precio">$6.760</li>
          <li class="descuento">40% Off</li>  
          <li class="descripcion">Cafetera Moulinex</li>
        </ul>
      </div>

      <div class="producto">
        <img src="../public/img/img-macbook-pro-2019.jpg" class="imagen"> 
        <ul>
          <i class="fa-solid fa-truck"></i>
          <li class="precio">230.000</li>
          <li class="descuento">20% Off</li>
          <li class="descripcion">MacBook Pro 2019</li>
      </ul>
      </div>

      <div class="producto">
        <img src="../public/img/img-samsung-galaxy-s10.jpg" class="imagen">
        <ul>
          <i class="fa-solid fa-truck"></i>
          <li class="precio">$70.500</li>
          <li class="descuento">10% Off</li>
          <li class="descripcion">Samsung Galaxy S10</li>
        </ul>
      </div>

      <div class="producto">
        <img src="../public/img/img-tv-samsung-smart.jpg" class="imagen">
        <ul>
          <i class="fa-solid fa-truck"></i>
          <li class="precio">$23.200</li>
          <li class="descuento">5% Off</li>
          <li class="descripcion">SmartTv Samsung 43"</li>
        </ul>
      </div>

    </main>

    <footer>

      <i class="fa-solid fa-credit-card"></i>
      <p class="pie">Pagá con tarjeta o efectivo</p>
      <p>Con Mercado Liebre Cash tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>

      <i class="fa-solid fa-gift"></i>
      <p class="pie">Envíos gratis desde $2.500</p>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de produtcos. Es un beneficio de Mercado Puntos</p>
  
      <i class="fa-solid fa-user-shield"></i>
      <p class="pie">Seguridad, de principio a fin</p>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
  
      <p class="pie">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

   

</body>
</html>